*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  background: linear-gradient( to top, #262421 30%, #cdae88 30%);
  overflow: hidden;
  border-radius: 5px;
}

.leg {
  position: absolute;
  top: 36px;
  left: 147px;
  width: 151px;
  height: 245px;
  transform-origin: 50% 0;
}

.shoe {
  position: absolute;
  width: 151px;
  height: 128px;
  left: 0;
  bottom: 0;
  background: url('https://100dayscss.com/codepen/doc-martens.svg') center/contain no-repeat;
}

.left {
  animation: leg-swing 2s ease-in-out infinite;
}

.left .shoe {
  animation: shoe-turn 2s ease-in-out infinite;
}


.right {
  animation: leg-swing 2s ease-in-out 1s infinite;
}

.right .shoe {
  animation: shoe-turn 2s ease-in-out 1s infinite;
}

@keyframes leg-swing {
  0%, 100% {
    transform: rotate(-22deg);
  }
  50% {
    transform: rotate(40deg);
  }
}

@keyframes shoe-turn {
  0%, 100% {
    transform: rotate(-10deg) translateY(-5px) translateX(10px);
  }
  25% {
    transform: rotate(0deg) translateY(0px) translateX(0);
  }
  50% {
    transform: rotate(10deg) translateY(-10px) translateX(10px);
  }
  75% {
    transform: rotate(0deg) translateY(-30px) translateX(0);
  }
}